In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [2]:
df = pd.read_csv("./HN-ratio_rice_231005_All.csv", sep=",")
df.head()

,GENEID,SRR22741460,SRR22741461,SRR22741462,SRR22741463,SRR22741468,SRR22741469,SRR22741470,SRR22741471,SRR10991576,...,SRR15060453,SRR15060454,SRR15060455,SRR15060456,SRR22854097,SRR22854098,SRR22854099,SRR22854094,SRR22854095,SRR22854096
0,EPlORYSAT000373610,1.0,1.0,57.662302,55.505046,0.016188,1.0,1.0,1.0,1.0,...,232.627114,1.0,1.0,1.0,0.017835,1.0,1.0,0.017835,1.0,1.0
1,EPlORYSAT000373621,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0
2,EPlORYSAT000373643,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0
3,EPlORYSAT000373795,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0
4,EPlORYSAT000373851,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0

In [3]:
# set index 
df1=df.set_index('GENEID')
df1.head()

,SRR22741460,SRR22741461,SRR22741462,SRR22741463,SRR22741468,SRR22741469,SRR22741470,SRR22741471,SRR10991576,SRR10991577,...,SRR15060453,SRR15060454,SRR15060455,SRR15060456,SRR22854097,SRR22854098,SRR22854099,SRR22854094,SRR22854095,SRR22854096
GENEID,,,,,,,,,,,,,,,,,,,,,
EPlORYSAT000373610,1.0,1.0,57.662302,55.505046,0.016188,1.0,1.0,1.0,1.0,1.0,...,232.627114,1.0,1.0,1.0,0.017835,1.0,1.0,0.017835,1.0,1.0
EPlORYSAT000373621,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0
EPlORYSAT000373643,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0
EPlORYSAT000373795,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0
EPlORYSAT000373851,1.0,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.0,1.0,1.0,1.000000,1.0,1.0,1.000000,1.0,1.0

In [4]:
temp = pd.DataFrame()

# Upregulated
thresholds = [1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 12, 15, 20, 50, 75,100, 200]  # input thresholds here

for thre in thresholds:
    thre_df = df1 >= thre
    temp[f"up{thre}"] = thre_df.sum(axis=1)

# Downregulated
for thre in thresholds:
    thre_df = df1 <= 1/thre
    temp[f"dn{thre}"] = thre_df.sum(axis=1)

# Unchanged
for thre in thresholds:
    temp[f"unchange{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]

# HN-score
for thre in thresholds:
    temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]

temp

/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]
/var/folders/7w/6nt3szxj44xdr5xs8y9g8lhw0000gn/T/ipykernel_35082/1418448987.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp[f"HN{thre}"] = temp[f"up{thre}"] - temp[f"dn{thre}"]

,up1.5,up2,up2.5,up3,up3.5,up4,up4.5,up5,up5.5,up6,...,HN10,HN10.5,HN11,HN12,HN15,HN20,HN50,HN75,HN100,HN200
GENEID,,,,,,,,,,,,,,,,,,,,,
EPlORYSAT000373610,60,39,30,27,24,24,21,20,20,20,...,0,0,0,2,3,2,4,5,5,6
EPlORYSAT000373621,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
EPlORYSAT000373643,79,69,64,59,54,50,49,48,47,46,...,13,13,13,12,12,12,15,15,10,7
EPlORYSAT000373795,36,23,21,19,13,9,7,7,6,3,...,-5,-5,-4,-4,-1,-1,0,0,0,0
EPlORYSAT000373851,38,24,14,11,8,7,7,7,6,5,...,-2,-3,-3,-3,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Os12g0641200,97,60,44,33,24,18,14,12,12,10,...,1,1,0,1,-1,-1,0,0,0,0
Os12g0641300,87,45,27,19,16,13,10,8,8,8,...,2,2,3,3,1,1,2,2,2,0
Os12g0641400,57,29,22,12,10,9,9,6,5,5,...,2,2,2,3,2,2,0,0,0,0
Os12g0641500,82,42,35,27,23,20,15,14,12,10,...,4,4,3,2,2,2,1,0,0,0
Os12g0641600,103,69,46,35,27,23,22,14,10,8,...,-3,-3,-3,0,0,0,0,0,0,0

In [5]:
now = datetime.datetime.now()
print(now)

2023-10-05 10:22:00.748003

In [6]:
# Extract columns with "HN" from tmp
tempHN = temp.filter(like='HN', axis=1)
tempHN

,HN1.5,HN2,HN2.5,HN3,HN3.5,HN4,HN4.5,HN5,HN5.5,HN6,...,HN10,HN10.5,HN11,HN12,HN15,HN20,HN50,HN75,HN100,HN200
GENEID,,,,,,,,,,,,,,,,,,,,,
EPlORYSAT000373610,-36,-33,-26,-18,-10,-6,-7,-4,-3,-1,...,0,0,0,2,3,2,4,5,5,6
EPlORYSAT000373621,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
EPlORYSAT000373643,11,12,17,15,16,14,16,17,17,16,...,13,13,13,12,12,12,15,15,10,7
EPlORYSAT000373795,-59,-49,-27,-22,-15,-16,-13,-9,-7,-8,...,-5,-5,-4,-4,-1,-1,0,0,0,0
EPlORYSAT000373851,-39,-36,-26,-22,-20,-14,-11,-8,-9,-7,...,-2,-3,-3,-3,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Os12g0641200,-12,2,2,1,-3,-1,-2,1,4,2,...,1,1,0,1,-1,-1,0,0,0,0
Os12g0641300,-22,-21,-16,-9,-6,-4,-7,-7,-6,-6,...,2,2,3,3,1,1,2,2,2,0
Os12g0641400,-58,-31,-5,-8,-8,-8,-4,-5,-6,-4,...,2,2,2,3,2,2,0,0,0,0
Os12g0641500,-3,0,14,14,11,9,7,9,8,6,...,4,4,3,2,2,2,1,0,0,0
Os12g0641600,-15,-12,-9,-6,-6,-5,-1,-5,-3,-3,...,-3,-3,-3,0,0,0,0,0,0,0

In [7]:
# example of sorting by HN5
tempHN5= tempHN.sort_values(by= "HN5", ascending=False)
tempHN5.to_csv("HN-score_rice_HN5_example_" + now.strftime('%y%m%d') + ".csv")
tempHN5

,HN1.5,HN2,HN2.5,HN3,HN3.5,HN4,HN4.5,HN5,HN5.5,HN6,...,HN10,HN10.5,HN11,HN12,HN15,HN20,HN50,HN75,HN100,HN200
GENEID,,,,,,,,,,,,,,,,,,,,,
Os04g0107900,285,282,272,266,264,258,256,253,252,252,...,238,233,230,227,216,204,169,146,129,106
Os01g0136100,237,240,245,245,246,248,248,246,245,242,...,230,231,230,230,229,226,222,212,205,173
Os02g0259900,270,263,254,251,248,243,241,238,236,234,...,234,232,230,229,228,219,201,190,174,125
Os03g0245800,247,249,237,237,236,235,237,237,237,237,...,236,236,238,237,235,232,228,224,221,202
Os03g0277300,283,269,256,245,239,237,236,236,231,225,...,191,186,184,180,164,142,91,73,70,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Os01g0952800,-212,-198,-197,-192,-189,-182,-178,-173,-171,-167,...,-151,-149,-149,-147,-142,-129,-105,-78,-63,-39
Os07g0142100,-207,-200,-198,-193,-189,-184,-181,-178,-173,-170,...,-162,-162,-162,-161,-155,-138,-108,-88,-82,-53
Os03g0307200,-207,-219,-215,-212,-203,-200,-194,-182,-173,-169,...,-139,-138,-134,-129,-119,-105,-78,-71,-63,-48
Os07g0142200,-253,-242,-219,-212,-207,-204,-194,-189,-182,-178,...,-149,-149,-148,-144,-126,-100,-45,-29,-22,-9
Os03g0307300,-241,-240,-232,-224,-214,-213,-202,-196,-189,-183,...,-164,-159,-155,-145,-136,-118,-85,-76,-68,-50

In [ ]:
now = datetime.datetime.now()

# making directory each time
directory = f'./HN-score_rice_{now.strftime("%y%m%d")}'
os.makedirs(directory, exist_ok=True) # exist_ok=True: if the directory already exists, no error

# Using f-strings for formatting strings (e.g. temp[f"HN{thre}"])
for thre in thresholds:
    sorted_tempHN = tempHN.sort_values(by=f"HN{thre}", ascending=False) # sort by HN-score
    sorted_tempHN[f"HN{thre}"].to_csv(f'./{directory}/HN-score_rice_{now.strftime("%y%m%d")}_HN{thre}_all.csv', sep=",", index=True) # save as csv